body {
  
}

#logo {
    border-radius:50%;
    width:50px;
    height:50px;
    position:absolute;
    top:0;
    left:80px;
    
}

img {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#headContent {
    position:absolute;
    bottom:70%;
    left:28%;
    color:white;
}

#drop {
    position:absolute;
    bottom:50%;
    left:31%;
}

button {
    align-self:center;
}

h2 {
    font-size:42px;
    font-weight:bold;
    font-family:Verdana;
}




