<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wikicharitywebsite.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wikicharitywebsite.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WikicharityWebsite</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WikicharityWebsite</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WikiCharity.Models.ApplicationDbContext, WikiCharity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DetailCharityDBEntities" Order="16" Enabled="False">
          <Destination Path="Data Source=wikicharitywbsitedbserver.database.windows.net;Initial Catalog=DetailCharityDB;Persist Security Info=True;User ID=qinggari;Password=Cenzi19930707;Application Name=EntityFramework" Name="Data Source=wikicharitywbsitedbserver.database.windows.net;Initial Catalog=DetailCharityDB;Persist Security Info=True;User ID=qinggari;Password=Cenzi19930707;Application Name=EntityFramework;MultipleActiveResultSets=True;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WikiCharity.Models.DetailCharityDBEntities, WikiCharity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DetailDB1Entities" Order="17" Enabled="False">
          <Destination Path="Data Source=wikicharitywbsitedbserver.database.windows.net;Initial Catalog=DetailCharityDB;Persist Security Info=True;User ID=qinggari;Password=Cenzi19930707;Application Name=EntityFramework" Name="Data Source=wikicharitywbsitedbserver.database.windows.net;Initial Catalog=DetailCharityDB;Persist Security Info=True;User ID=qinggari;Password=Cenzi19930707;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WikiCharity.Models.DetailDB1Entities, WikiCharity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DetailCharityDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model12.csdl|res://*/Models.Model12.ssdl|res://*/Models.Model12.msl;provider=System.Data.SqlClient;provider connection string="Data Source=wikicharitywbsitedbserver.database.windows.net;Initial Catalog=DetailCharityDB;Persist Security Info=True;User ID=qinggari;Password=Cenzi19930707;Application Name=EntityFramework;MultipleActiveResultSets=True;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DetailDB1Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model13.csdl|res://*/Models.Model13.ssdl|res://*/Models.Model13.msl;provider=System.Data.SqlClient;provider connection string="Data Source=wikicharitywbsitedbserver.database.windows.net;Initial Catalog=DetailCharityDB;Persist Security Info=True;User ID=qinggari;Password=Cenzi19930707;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>