@{
    ViewBag.Title = "WikiCharity";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>  
WikiCharity, is a connection and information service.
WikiCharity aims to create partnerships between both individuals &amp; business, and charities. With the
rise of corporate social responsibility programs in the corporate sector, opportunities arise for
charities to build stronger relationships with businesses and thus, have a positive impact on people
and the environment.
WikiCharity will help users search for relevant charities and their information, with also a
comparison function for chosen charities. Searches for charities either can be done with keywords,
or by first-level or second-level categories, such as charity beneficiaries or location. Once the search
is complete, from the results, various kinds of historical financial figures of the chosen charities, will
be displayed.</p>
