@model WikiCharity.Models.FilterModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    <img src="~/Uploads/fanren.png" alt="backgroung image" style="width:100%;"/>
    <div id="headContent">
        <h2>Find a charity that suits you</h2>
    </div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { role = "form" }))
    {
        <div class="dropdown" id="drop">
            <table>
                <tr>
                    <td align="left">@Html.DropDownListFor(m => m.beneficial, Model.beneficials, "Select a Beneficial", new { @class = "form-control" })</td>
                    <td align="center">@Html.DropDownListFor(m => m.isDGR, Model.isDGRs, "Tax Deduction", new { @class = "form-control" })</td>

                </tr>

            </table>
            <br />
            <button type="submit" class="btn btn-primary">Show</button>
        </div>
    }
    
        
        
    
    

    
    
 