@model IEnumerable<WikiCharity.Models.CharityModel>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/HomeStyle.css" rel="stylesheet" />


    <img src="~/Uploads/fanren.png" alt="backgroung image" style="width:100%;"/>
    <div id="headContent">
        <h2>Find charity suits you</h2>
    </div>

    
    
 